body {
  margin: 0;
  text-align-last: center;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Sacramento", cursive;
  font-size: 65px;
}

h3 {
  font-family: "Sacramento", cursive;
  font-size: 35px;
}

p {
  font-family: "Merriweather", serif;
  font-size: 20px;
}

.top-container {
  background-color: #dfeeea;
  margin: 0;
  padding-top: 100px;
  position: relative;
  padding-bottom: 0;
}

#name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Sacramento", cursive;
  font-size: 90px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.third-cloud {
  position: absolute;
  right: 580px;
  bottom: 230px;
}

.Mountain {
  position: relative;
  margin: 0 auto 0 auto;
}

#pro {
  text-decoration: underline;
}

#Programmer {
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: normal;
  margin: 0%;
}

#Profile-pic {
  height: 230px;
  width: auto;
  margin-top: 30px;
  position: static;
  padding-top: 120px;
}
a {
  text-decoration: none;
  color: #3db2ff;
  font-family: "Merriweather", serif;
}

#skill {
  height: 220px;
  width: auto;
  position: static;
  float: left;
  margin-right: 30px;
}

.skills {
  background-color: #dfeeea;
}

.middle-container {
  background-color: #dfeeea;
  text-align-last: center;
}

.bottom-container {
  background-color: #66bfbf;
  height: 200px;
}

div {
  position: relative;
}

#skill-two {
  height: 200px;
  width: auto;
  border-radius: 50px;
  float: right;
  position: relative;
  margin-left: 30px;
}

.c3 {
  left: 140px;
  position: absolute;
  bottom: 438px;
}

.c4 {
  right: 120px;
  position: absolute;
  top: 95px;
}

.c5 {
  position: relative;
  bottom: 290px;
  left: 220px;
}

.c6 {
  position: relative;
  bottom: 120px;
  right: 250px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-cloud-1 {
  position: absolute;
  left: 450px;
  bottom: -150px;
}

.c3-1 {
  left: 500px;
  position: absolute;
  bottom: 438px;
}

.top-cloud-1 {
  right: -90px;
  top: 150px;
  position: absolute;
}

.c4-1 {
  right: -360px;
  position: absolute;
  top: 5px;
}

.footer-link {
  color: #11999e;
  text-align: center;
  display: inline-block;
  margin: 50px;
  font-size: 20px;
}

#end {
  margin: 0 auto 0 auto;
}

.a {
  display: block;
  font-size: 24px;
}

a:hover {
  color: white;
}

.a:hover {
  color: teal;
}

.p1 {
  margin-left: 15px;
}
